# This should be your Ansible playbooks to provision your containers.
# An inventory will be automatically created using the names of the services
# from your container.yml file.
# Add any roles or other modules you'll need to this directory too.
# For many examples of roles, check out Ansible Galaxy: https://galaxy.ansible.com/
#
---
- hosts: devenv
  gather_facts: false
  vars:
    android_home: "/opt/android"
  tasks:
    - name: Update apt-cache
      raw: apt-get update
      when: true

    - name: Dist-upgrade
      raw: apt-get dist-upgrade -y
      when: true

    - name: Install Ansible dependencies
      raw: apt-get install -y python python-apt
      when: true

    - name: Get NodeJS setup script
      get_url:
        url: http://deb.nodesource.com/setup_6.x
        dest: ./nodejsrepository
        mode: "u=rwx"

    - name: Add NodeJS repository
      command: ./nodejsrepository
      when: true

    - name: Install dumb-init
      apt: deb=https://github.com/Yelp/dumb-init/releases/download/v1.2.0/dumb-init_1.2.0_amd64.deb

    - name: Install dependencies
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - python
        - unzip
        - openjdk-8-jdk
        - build-essential
        - nodejs

    - name: Install NodeJS dependencies
      npm:
        name: "{{ item }}"
        global: yes
        state: present
      with_items:
        - react-native-cli
        - appium
        - yarn


    - name: Create android SDK path
      file: path="{{ android_home }}" state=directory mode=0755

    - name: Fetch Android SDK
      unarchive:
          src: https://dl.google.com/android/repository/tools_r25.2.3-linux.zip
          dest: "{{ android_home }}"
          remote_src: True

    - name: Update Android SDK
      shell: yes | {{ android_home }}/tools/bin/sdkmanager --update --verbose
      when: true

    - name: Accept Android SDK licenses
      shell: yes | {{ android_home }}/tools/bin/sdkmanager --licenses
      when: true

    - name: Install required packages
      shell: |
        yes | {{ android_home }}/tools/bin/sdkmanager \
          --verbose \
          'add-ons;addon-google_apis-google-23' \
          'platforms;android-23' \
          'system-images;android-23;google_apis;armeabi-v7a'
      when: true

    - name: Create AVD
      shell: |
        echo no | {{ android_home }}/tools/bin/avdmanager \
          create avd \
          --package 'system-images;android-23;google_apis;armeabi-v7a' \
          --name testAVD  \
          --tag google_apis \
          --force
      when: true
